.reader {
	width: 100%;
}

#copy {
	width: 100%;
}

input[type=button] {
    font-size: 0.8em;
    min-height: 20px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

select{
    font-size: 0.8em;
    min-height: 20px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}