
.reader {
    border: 1px solid #aaa;
    background-color: #eee;
    display:block;
    width: 10em;
    height: 4.em;
    text-align:center;
    background-image: url("centreLine.png");
    background-position: center;
    background-repeat: repeat-y;
    margin: auto;
    min-width: 60%;
}

.controls {
    display:block;
    width: 100%;
    background-color: #aaa;
    text-align: center;
}

input[type=button] {
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px rgba(30, 228, 241, 0.30);
    border-style: solid;
    min-height: 20px;
    font-size: 0.5em;
    margin: 10px 0px 10px 0px;
}

select{
    font-size: 0.5em;
    padding: 10px;
    min-height: 20px;
    margin: 10px 0px 10px 0px;
}

.word {
    background-color: #eee;
    display:block;
    height: 1.5em;
    margin: 0.5em 0.1em 0.6em 0.1em;
    text-align: center;
    font-size: 3em;
}

html {
    min-width: 100%;
}

body {
    font-size: 200%;
    text-align: center;
    background-color: #cdcdcd;
    min-width: 600px;
}

h1 {
    font-size: 1em;
}

.hide {
    display: none;
}

.disable {
    opacity: 0.2;
}

#copy {
    width: 60%;
    height: 300px;
}